{% extends "base.html" %}
{% block title  %}Обратная связь{% endblock %}


{% block content %}
<div class=" pages-bg">
<div class="speedbar nowrap">
<span itemscope="" itemtype="https://schema.org/BreadcrumbList"><span itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><meta itemprop="position" content="1"><a href="{{ url_for('index') }}" itemprop="item"><span itemprop="name">Kinolama</span></a></span> » Обратная связь</span>
</div>
<div id="dle-content">
<div class="form-wrap">
<h1>Обратная связь</h1>
Использованный на портале Kinolama контент находится в свободном для просмотра и скачивания доступе внутри сети Интернет, и предназначен для изучения с целью ознакомления.
<br>
<br>
В случае, если Ваши непосредственные права оказались неким способом нарушены данным ресурсом (использование информации, находящейся под защитой), администрация готовно содействовать Вам и обязуется скрупулезно подойти к решению возникшего вопроса.
<br>
<br>
<b>В случае образования спорного момента, просим Вас <a href="https://t.me/kinolama_support"><em>отправить администрации извещение</em></a> с приложением следующего:</b>
<br>
<br>
<b>1.</b> Документация, подтверждающая Ваше владение защищенным материалом:
<br>
<li>копию документов с наличием печатей, или
<br>
</li>
<li>e-mail, отправленный компанией владельца прав (официальный почтовый домен как подтверждающий фактор), или
<br>
</li>
<li>прочие данные, дающие возможность определенной идентификации обращающегося в качестве правообладателя конкретного объекта.
<br>
<br>
<b>2.</b> Адреса прямых URL-ссылок на страницы или страницу сайта, содержащие информацию, публикация которой является нарушением авторских прав.
<br>
<br>
После получения извещения с необходимыми подтверждениями, мы обязуемся разобраться  с контентом на сайте, находящемся под защитой авторских прав, либо заменить его на устраивающий Вас.
<br>
</li>
</div>
</form>
</div>
</div>
{% endblock %}